@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
    background-color: #f8f9fa; /* Light background color */
    border-bottom: 1px solid #dee2e6; /* Bottom border for separation */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 60px;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

        .qg-nav-bar-container-fluid {
            #navbarSupportedContent {
                border-radius: 5px;
                padding: 5px;
                width: 100vw;
            }
        }

        .qga-logo-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            background-color: transparent;
            &:focus-visible {
                color: #0000ff;
            }
            
            .qga-nav-logo {
                height: 40px; /* Logo height */
                margin-right: 10px; /* Space between logo and text */
                border-radius: 50%;
            }
            h1 {
                font-size: 1.5rem;
                color: #343a40; /* Dark text color */
                margin: 0; /* Remove default margin */
                &:hover {
                    color: #007bff; /* Hover color */
                }
            }
        }

        .qga-items-list {
            list-style: none;
            display: flex;
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
            .qga-list-item {
                margin-left: 20px; /* Space between list items */
                .qg-list-btn {
                    display: flex;
                    align-items: center;
                    background: none;
                    border: none;
                    color: #343a40; /* Dark text color */
                    font-size: 1rem;
                    padding: 0.5rem;
                    cursor: pointer;
                    transition: color 0.3s;
                    &:hover, &:focus-visible {
                        color: #0b5ed7; /* Hover color */
                    }

                    // &:focus-visible {
                    //     border: 2px solid #000000 !important;
                    //     // box-shadow: none !important;
                    // }

                    i {
                        margin-right: 5px; /* Space between icon and text */
                    }
                }
            }
        }

        form.d-flex {
            flex: 1;
            justify-content: center;
            // height: 35px;
            .form-control {
                max-width: 300px; /* Limit the search input width */
            }
        }
    }
}

.qga-offcanvas-section {
    .offcanvas {
        .offcanvas-header {
            background-color: #f8f9fa; /* Match the header section */
            border-bottom: 1px solid #dee2e6; /* Bottom border for separation */
            height: 40px;
            .offcanvas-title {
                // font-size: 1rem;
                color: #343a40; /* Dark text color */
            }
            /* .btn-close {
                 background: none;
                 border: none;
                 font-size: 1.25rem;
                 color: #343a40; 
                 cursor: pointer;
                }
            */ 
        }
        .offcanvas-body {
            padding: 1rem;
            font-size: 1rem;
            color: #343a40; /* Dark text color */
            .qg-list-btn:hover, .qg-list-btn:focus-visible {
                color: #0b5ed7;
            }

            .qg-profile-container {
                // margin: 5px;
                margin: 5px 0px;
                border: 1px solid #bbbbbb;
                padding: 5px;
                border-radius: 5px;

                .qg-img-div {
                    .qg-profile-image {
                        border-radius: 50%;
                        height: 50px;
                        width: 50px;
                    }
                }

                .qg-profile-details-container {
                    .qg-edit-profile-btn {
                        background-color: #8a2be2;
                        color: #ffffff;
                        padding: 5px;
                        border: none;
                        border-radius: 5px;

                        &:hover {
                            background-color: #0000ff;
                        }

                        &:focus-visible {
                            border: 1px solid #000000;
                            background-color: #0000ff;
                        }
                    }
                }
            }
        }
    }
}
