/* You can add global styles to this file, and also import other style files */
$primary-color: #007bff;
$secondary-color: #6c757d;
$tertiary-color: #adb5bd;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$dark-color: #343a40;
$light-color: #ffffff;
$border-color: #d5d4e6;
$muted-color: #6c757d;
$black-color: #000000;
$i: unquote("!important");
