@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .accordion {
        width: 100%;
        max-width: 800px;

        .accordion-item {
            .accordion-header {
                .accordion-button {
                    background-color: $primary-color;
                    color: $black-color;

                    &:not(.collapsed) {
                        color: $black-color;
                        background-color: $primary-color-light;
                    }
                }
            }

            .accordion-body {
                background-color: $background-color;
                color: $text-color;
            }
        }
    }
}
