@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-editProfile-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}