@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-courses-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    .qg-courses-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 74%;
        border: 1px solid #d5d4e6;
        overflow-y: scroll;
        margin-bottom: 10px;
        border-radius: 8px;

        .qg-card {
            margin: 10px;

            .qg-card-body {
                .qg-yt-btn {
                    background-color: #ff0000;
                    color: #ffffff;

                    &:hover {
                        background-color: #CC0000;
                    }

                    &:focus-visible {
                        border: 2px solid black;
                    }
                }
            }
        }
    }
}