@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    .qg-courses-container {
        // display: flex;
        // // flex-direction: column;
        // flex-wrap: wrap;
        height: 100%;
        width: 95%;
        border: 1px solid #d5d4e6;
        overflow-y: scroll;
        margin-bottom: 10px;
        border-radius: 8px;

        .qg-header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .qg-search-input-container {
                position: relative;
                width: 300px;

                .qg-input {
                    width: 100%;
                    padding-right: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    outline: none;

                    &:focus-visible {
                        border: 2px solid #000000;
                    }
                }

                .qg-search-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }

            .qg-buttons-container {
                margin-left: auto;

                .qg-icon-btn {
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 8px;
                    margin-right: 10px;
                }
            }
        }

        .qg-card {
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            position: relative;

            .qg-card-body {
                padding: 10px;

                .qg-yt-btn {
                    background-color: #E60000;
                    color: #ffffff;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #CC0000;
                    }

                    &:focus-visible {
                        border: 2px solid black;
                    }
                }

                .qg-text-truncate {
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* Number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-clamp: 3;
                }

                .qg-favorite-btn {
                    .qg-favourite-icon {
                        color: #f6b600;
                    }
                }
            }

            .qg-hover-icons {
                display: none !important;
            }

            &:hover .qg-hover-icons,
            &:focus-within .qg-hover-icons,
            &:focus-visible .qg-hover-icons {
                display: flex !important;
            }
        }
    }
}