@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    .qg-courses-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 74%;
        border: 1px solid #d5d4e6;
        overflow-y: scroll;
        margin-bottom: 10px;
        border-radius: 8px;

        .qg-card {
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            position: relative;

            .qg-card-body {
                padding: 10px;

                .qg-yt-btn {
                    background-color: #E60000;
                    color: #ffffff;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #CC0000;
                    }

                    &:focus-visible {
                        border: 2px solid black;
                    }
                }

                .qg-hover-icons {
                    display: none;
                }

                .qg-text-truncate {
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* Number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .qg-favorite-btn {
                    .qg-favourite-icon {
                        color: #f6b600;
                    }
                }
            }

            &:hover .qg-hover-icons,
            &:focus-within .qg-hover-icons,
            &:focus-visible .qg-hover-icons {
                display: flex;
            }
        }
    }
}
