<section class="qg-sidebar-section">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button" aria-label="Menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="sidebar-logo">
                <a href="javascript:void(0);">Menu</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="javascript:void(0)" routerLink="../jobs" class="sidebar-link">
                    <i class="bi bi-briefcase-fill"></i>
                    <span>Jobs</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="javascript:void(0);" routerLink="courses" class="sidebar-link">
                    <i class="fa-solid fa-book-open"></i>
                    <span>Courses</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="javascript:void(0)" class="sidebar-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 20 20">
                        <path fill="currentColor"
                            d="M6 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h4.257a5.5 5.5 0 0 1-.657-1H6a1 1 0 0 1-1-1h4.207A5.5 5.5 0 0 1 16 9.207V4a2 2 0 0 0-2-2zm.75 2.5h6.5a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5M19 14.5a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m-4.98-1.966a.45.45 0 0 0-.447-.037a.5.5 0 0 0-.155.108a.5.5 0 0 0-.145.357v3.075a.5.5 0 0 0 .145.358a.6.6 0 0 0 .157.11a.45.45 0 0 0 .323.02a.5.5 0 0 0 .13-.064l2.296-1.567a.47.47 0 0 0 .163-.185a.54.54 0 0 0-.003-.487a.5.5 0 0 0-.167-.182z" />
                    </svg>
                    <span class="ms-2">EduPlay</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="lni lni-cog"></i>
                    <span>Setting</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a href="#" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <!-- <div class="text-center">
            <app-jobs style="margin-bottom: 300px !important;"></app-jobs>
        </div> -->
    </div>
</section>