@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .qg-cards-container {
        display: flex;
        flex-direction: column; /* Changed to column to ensure header is on top */
        height: 100%;
        width: 95%;
        border: 1px solid $border-color;
        // overflow-y: scroll;
        margin-bottom: 10px;
        border-radius: 8px;

        .qg-header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: -webkit-sticky;
            border-bottom: 1px solid $border-color;
            width: 100%;
            padding-bottom: 8px;

            .qg-search-input-container {
                position: relative;
                width: 300px;

                .qg-input {
                    width: 100%;
                    padding-right: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                }

                .qg-search-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }

            .qg-buttons-container {
                margin-left: auto;

                .qg-icon-btn {
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 8px;
                    margin-right: 10px;
                }
            }
        }

        .qg-cards-section {
            margin-top: 5px;
            overflow: scroll;
            // position: relative;
        }

        .qg-card {
            width: 18rem;

            
            
            .qg-card-body {
                .qg-btn-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    // button:focus-visible {
                    //     border: 2px solid #000000 !important;
                    //     box-shadow: none !important;
                    // }

                    @media screen and (max-width: 260px) {
                        button {
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .qg-hover-icons {
                display: none !important;
            }

            &:hover .qg-hover-icons,
            &:focus-within .qg-hover-icons, &:focus-visible .qg-hover-icons {
                display: flex !important;
                margin-left: auto;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.qg-modal-section {
    .qg-modal-popup-container {
        .qg-modal-popup-dialog {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
            max-width: 80% !important;
            margin: auto; /* Center horizontally and vertically */

            .qg-modal-content {
                .qg-modal-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: auto;
                    padding: 10px 6rem;

                    .qg-modal-job-container {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        p {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}
