<app-header></app-header>
<section class="qg-job-container p-5">
  <h1>{{ job.companyName }}</h1>
  <p><strong>Role:</strong> {{ job.role }}</p>
  <p><strong>Skills:</strong> {{ job.skills.join(', ') }}</p>
  <p><strong>Salary:</strong> {{ job.Salary }}</p>
  <p><strong>Experience:</strong> {{ job.Experience }}</p>
  <p><strong>About Job Role:</strong> {{ job.aboutJobRole }}</p>
  <p><strong>About Company:</strong> {{ job.aboutCompany }}</p>
  <p><strong>Address:</strong> {{ job.Address }}</p>
  <p><strong>City:</strong> {{ job.City }}</p>
  <div class="d-flex flex-row">
    <button class="btn btn-primary me-1" (click)="apply(job)">
      {{ job.isApplied ? 'Applied' : 'Apply' }}
    </button>
    <button class="btn btn-secondary ms-1" (click)="back()">
      Back
    </button>
  </div>
</section>