@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.qg-app-section {
  // overflow: scroll;
  margin-top: 10px;

  .container {
    .form-control {
      margin-bottom: 15px;
      overflow: scroll;
    }
  }
}
