/* Global styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Webkit (Chrome, Safari, etc.) scrollbar */
/* Track */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle when hovered */
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;

  .navbar,
  .offcanvas,
  .list-group-item,
  .qg-profile-container,
  .qg-card,
  .qg-h3,
  .qg-h1,
  .fa,
  .qg-nav {
    background-color: #333333 !important;
    color: #ffffff !important;
  }

  .qg-list-btn {
    &:hover, &:focus-visible {
      color: #0b5ed7 !important;
    }
  }

  .btn-success {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
  }

  .form-control {
    background-color: #333333;
    color: #ffffff;
  }
}
