@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Global styles */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Webkit (Chrome, Safari, etc.) scrollbar */
/* Track */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle when hovered */
}

.btn-close {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;

  .qg-no-jobs-body {
    box-shadow: none !important;
  }

  button {
    color: #ffffff;
  }

  hr {
    color: #ffffff;
  }

  // i {
  //   color: #ffffff !important;

  //   &:hover {
  //     color: #0b5ed7 !important;
  //   }
  // }

  // svg {
  //   color: #ffffff !important;

  //   &:hover {
  //     color: #0b5ed7 !important;
  //   }
  // }

  .qg-view-more-btn {
    color: #ffffff;
  }

  .qg-card {
    border: none !important;
  }

  .qg-filters-offcanvas {
    color: #ffffff;
  }

  .navbar,
  .offcanvas,
  .list-group-item,
  .qg-profile-container,
  .qg-card,
  .qg-h3,
  .qg-h1,
  .fa,
  .qg-nav,
  .qg-supportedContent,
  .qg-list-btn,
  .offcanvas-header,
  .qg-offcanvas-title, 
  .qg-global-search, 
  .qg-global-search::placeholder, .qg-input, input::placeholder, .modal-header, .modal-body, .modal-footer {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
  }

  .btn-close {
    color: #ffffff !important;
  }

  .qg-list-btn {
    &:hover, &:focus-visible {
      color: #0b5ed7 !important;
    }
  }

  .btn-success {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
  }

  .form-control {
    background-color: #333333;
    color: #ffffff;
  }
}

.qg-favourite-icon {
  color: #ffa500 !important;
}

.qg-error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

input {
  outline: none !important;

  &:focus-visible {
    border: 2px solid #000000;
  }
}